/* Top portion */

.top-buffer {
    height: 110px;
    width: 69%;
    top: 0;
    position: fixed;
    background-color: white;
    contain: content;
}

.events-groups-links {
    font-size: 20px;
    font-weight: 500;
    color: #757575;
}

.active-link {
    color: #008294;
    border-bottom: 4px solid #008294;
    border-left-style: none;
}

.distance {
    padding-left: 7px;
    padding-right: 7px;
}

hr {
    background-color: #757575;
}

.events-groups {
    padding-bottom: 20px;
}

.top-portion-events-groups {
    position: fixed;
    border-bottom: solid 1px #757575;
    width: 69%;
    background-color: white;
    box-sizing: border-box;
}

.main-groups {
    margin-top: 70px;
    box-sizing: border-box;
    overflow: auto;
}
