.signup-button {
    font-size: 14px;
    font-weight: 600;
    background-color: transparent;
    border-style: none;
    color: black;
    cursor: pointer;
}

.signup-button:hover {
    color: #008294;
}

.signup-form-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 60px;
    box-sizing: border-box;
    padding-bottom: 10px;
    padding-top: 40px;
}

.signup-form-logo {
    flex: 1;
    padding: 0;
    margin: 0;
}
.signup-form-top-member {
    flex: 1;
    padding: 0;
    margin: 0;
    font-weight: 400;
}
.signup-form-title {
    flex: 1;
    font-size: 28px;
    font-weight: 700;
    padding-bottom: 15px;
    margin: 0;
}

.signup-form-stuff {
    height: 490px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.submit-button {
    background-color: #F65858;
    color: white;
    font-size: 20px;
    font-weight: 700;
    border: none;
    height: 48px;
    vertical-align: middle;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.submit-button:hover {
    cursor: pointer;
}

label > p {
    text-align: left;
}

input {
    width: 344px;
    height: 22px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border-color: rgb(230, 230, 230);
    border-width: 1px;
    font-size: 16px;
    padding: 8px 12px;
}
