.membership-edit-button {
    font-size: 14px;
    font-weight: 400;
    background-color: transparent;
    border-style: none;
    color: #f65858;
    cursor: pointer;
    margin-right: 4%;
    z-index: 20;
}

.membership-edit-button:hover {
    text-decoration: underline;
}

.member-func-button {
    background-color: #F65858;
    color: white;
    font-size: 12px;
    font-weight: 500;
    border: none;
    padding: 8px 15px;
    vertical-align: middle;
    border-radius: 8px;
    margin-left: 10px;
}

.member-func-button:hover {
    cursor: pointer;
}

.each-member {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.each-member:last-child {
    margin-bottom: 0px;
}
