/* Welcome, user.firstName */
.hello {
    margin: 0 0;
    padding-bottom: 20px;
}
/* Container holding top portion with welcome and your stuff */
.user-groups {
    padding-bottom: 10px;
    background-color: white;
    z-index: 5;
}

.title-flex-ge {
    display: flex;
    justify-content: space-between;
}

.user-groupsevents-title {
    margin: 0 0;
}

.top-buffer-mygroups {
    height: 110px;
    width: 69%;
    top: 0;
    position: fixed;
    background-color: white;
    contain: content;
}

.users-gap {
    /* background-color: #757575; */
}

/* Container holding the groups section */
.mystuff-usergroups {
    box-sizing: border-box;
    overflow-y: auto;
    height: 100%;
}

.mystuff-userevents {
    box-sizing: border-box;
    overflow: auto;
}

/* Flex container for groups and events */
.user-container-mystuff {
    box-sizing: border-box;
    margin-top: 105px;
    display: grid;
    grid-template-columns: 4fr 1fr 4fr;
}

.user-thumbnail {
    height: 150px;
    width: 94%;
    object-fit: cover;
    border-radius: 8px;
    margin: 0 10px;
}

.users-group-name {
    font-size: 16px;
    font-weight: 600;
    margin: 0 0;
    padding: 0 0;
    box-sizing: border-box;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.users-more-info-button {
    color: white;
}

/* .users-group-fun-town:hover,
.users-group-container:hover {
    background-color: #f6f7f8;
} */

.users-group-fun-town {
    padding-top: 20px;
    overflow: hidden;
}

.users-group-container {
    border-top: 1px solid #757575;
    padding-top: 20px;
    overflow: hidden;
}

.group-preview-box {

}

.users-group-stats {
    color: #757575;
    font-size: 14px;
    margin: 0 0;
}

.users-group-location {
    margin: 0 0;
    font-size: 14px;
    font-weight: 500;
    color: #877457;
    text-transform: uppercase;
}

.users-members-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding-bottom: 15px; */
}

.users-buttons-side-by-side {
    display: flex;
    justify-content: space-evenly;
    margin: 0 0;
    padding: 0 0;
    padding-bottom: 15px;
}

.users-group-deets-button {
    margin-top: 5px;
    color: white;
    background-color: #F65858;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    border-radius: 8px;
    font-weight: 500;
    cursor: pointer;
    margin-right: 20px;
    width: 130px;
    text-align: center;
    margin-bottom: 15px;
}


/* .users-group-container:hover .organizer-icon {
    z-index: 2;
}

.users-group-fun-town:hover .organizer-icon {
    z-index: 2;
} */

.organizer-icon {
    height: 25px;
    z-index: -1;
}

.user-name-title-grid {
    width: 94%;
    font-size: 16px;
    font-weight: 600;
    margin: 0 0;
    padding: 0 0;
    box-sizing: border-box;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.user-event-title-grid {
    width: 94%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.users-event-date {
    font-size: 14px;
    font-weight: 600;
    color: #877457;
    margin: 0 0;
    padding: 0 0;
    text-transform: uppercase;
    text-align: right;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltiptext {
    visibility: hidden;
    position:absolute;
    width: 120px;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    background-color: #959595;
    color: white;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    font-size: 14px;
    opacity: 0;
    transition: opacity .4s;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
    z-index: 25;
}

.tooltip-top::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border: 5px solid;
    border-color: #757575 transparent transparent transparent;
}

.more-info-org-icon {
    display: flex;
    align-items: center;
}

.nothing-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.no-group-here {
    font-size: 16px;
    font-weight: 500;
}
