.bg-right {
    position: fixed;
    top: 5%;
    right: 0;
    z-index: -1;
}

.bg-left {
    position: fixed;
    bottom: 2%;
    left: 0;
    z-index: -1;
}

.bg-mid {
    position: fixed;
    top: 12%;
    left: 18%;
    z-index: -1;
}
