* {
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    color: black;
}

ul {
    list-style-type: none;
}

main {
    display: flex;
    flex-direction: column;
    padding: 100px 15%;

}
