* {
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    color: black;
}

ul {
    list-style-type: none;
}

main {
    display: flex;
    flex-direction: column;
    padding: 100px 15%;
}

textarea {
    resize: none;
    border-radius: 8px;
}

input:focus,
input:active,
select:focus,
select:active,
textarea:focus,
textarea:active {
    border: 2px solid #0098ab;
    outline: none;
}
