.edit-group-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 970px;
    margin: 100px auto;
    /* background-color: white; */
}


.edit-top-section-group-details {
    display: grid;
    grid-template-columns: 264px 221px;
    border-bottom: 1px solid rgba(46, 62, 72, 0.12);
    height: 148.5px;
    padding-bottom: 7.5px;
    padding-top: 20px;
}

.edit-group-main-image {
    width: 264px;
    height: 148.5px;
    background-size: cover;
    background-position: center 40%;
    border-radius: 10px;
}

.edit-group-deets-icon {
    height: 10px;
}

.edit-group-deets-name {
    font-size: 16px;
}

.edit-group-span {
    font-size: 8px;
}

.edit-group-information {
    font-size: 10px;
}

.edit-group-deets {
    display: flex;
    align-items: center;
    margin-bottom: 2px;
}

.edit-group-deets-icon {
    margin-right: 6px;
}

.edit-chunk {
    width: 12.5px;
    height: 10px;
    display: flex;
    align-items: center;
}

.edit-group-details-container {
    width: 485px;
    margin: 0 auto;
    background-color: white;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.edit-group-information {
    padding-left: 25px;
}

.edit-group-deets-name {
    margin: 0 0;
    margin-bottom: 12px;
}

.edit-group-details-bottom {
    background-color: #f6f7f8;
    /* display: grid;
    grid-template-columns: 1fr 1fr; */
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    padding: 20px 15px;
}

.edit-group-deets-title {
    font-size: 16px;
    font-weight: 500;
    margin: 0 0;
}

.edit-group-deets-p {
    font-size: 12px;
    font-weight: 300;
    white-space: pre-wrap;
}

.edit-group-deets-about {
    margin: 0 auto;
}

.edit-group-form-container {
    padding: 0 20px;
    width: 485px;
    background-color: white;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.eg-form {
    border-radius: 4px;
}

.edit-group-form-title,
.edit-group-preview-title {
    font-size: 20px;
    font-weight: 700;
    text-decoration: underline;
    padding-top: 15px;
}

.edit-group-type {
    padding: 8px 20px;
}

.edit-group-privacy {
    margin-left: 50px;
}

.private-checkbox {
    width: 22px;
    padding: 0 0;
    margin: 0 5px;
}

.flex-label {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.edit-group-textarea {
    padding: 8px 12px;
    height: 200px;
}

.group-form-input {
    width: 420px;
}

.group-input-city {
    width: 280px;
    margin-right: 10px;
}

.group-input-state {
    width: 104px;
}

.city-state-chunker {
    margin: 0 142px;
}

.edit-group-about {
    margin: 0 0;
    padding: 0 0;
}

.eg-form {
    font-size: 13px;
}

.edit-button {
    border: 0;
    background-color: #f65858;
    color: white;
    font-weight: 500;
    height: 48px;
    border-radius: 8px;
    padding: 10px 20px;
    cursor: pointer;
    margin-right: 10px;
}

.create-event-labels {
    font-weight: 600;
    font-size: 14px;
    text-align: center;
}

.group-form-label {
    font-weight: 600;
    font-size: 14px;
}
